*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #ff9638;
}

/*Контейнер для выравнивания по центру*/
.container{
    max-width: 1100px;
    margin: 0 auto;
}

/*benefits*/
.benefits{
    height: 325px;
    background: #d0c4c4;
    padding: 35px 0;
}
.benefits__title{
    text-align: center;
}
.benefits__items{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}
.benefits__item:nth-child(odd){
    border: 1px solid #35edf3;
}
.benefits__item{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    padding: 10px;
}
.benefits__item_img{
    height: 150px;
    width: 150px;
    background: #3b3b3b;
    border-radius: 10px;
}

/*top-product*/
.top-product{
    height: 325px;
    background: #3b3b3b;
    padding: 35px 0;
}
.top-product__items{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}
.top-product__item:nth-child(2n){
    border: 1px solid #35edf3;
}
.top-product__item{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    padding: 10px;
}
.top-product__item_img{
    height: 150px;
    width: 150px;
    background: #d0c4c4;
    border-radius: 50%;
}
.top-product__item_title, .top-product__item_text{
    color: #d0c4c4;
}
