*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 30px;
    font-weight: 700;
}

.wrapper{
    height: 450px;
    width: 1000px;
    margin: 0 auto;
}
.top{
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
    background-color: skyblue;
}
.top p{
    line-height: 200px;
    text-align: center;
}
.box-row{
    display: flex;
    text-align: center;
    line-height: 700px;
}
.box-left{
    height: 450px;
    width: 60%;
}

.b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(102, 81, 219);
}
.big-row{
    display: flex;
    margin-bottom: 5px;
}
.big-widgets{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 33.33%;
    background-color: rgb(81, 136, 219);
}
.big-widgets-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 33.33%;
    margin: 0 5px;
    background-color: rgb(181, 189, 70);
}

.box-right{
    height: 405px;
    width: 40%;
    margin-left: 5px;
    background-color: darkseagreen;
}
.box-right p{
    line-height: 405px;
    text-align: center;
}


