body{
    background: papayawhip;
}
h1,.center{
    text-align: center;
}
a{
    text-decoration: none;
}
a img:hover{
    box-shadow: 1px 1px 5px 5px #9c7c7c;
    transition: box-shadow 0.3s ease-in-out;
}
p{
    font-style: italic;
    text-align: justify;
}
p img{
    height: 370px;
    width: 260px;
    margin-left: 20px;
}

.main{
    height: 370px;
    margin-left: 10px;
    float: right;
    border: 5px solid #9c7c7c;
}
