*{
    margin: 0;
}
body{
    color: #ffffff;
    background: #292929;
}
.center{
    text-align: center;
}
h2{
    color: #ff9638;
    text-align: center;
}
img{
    text-align: center;
    height: 160px;
    margin: 5px;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;

}
.logo{
    text-align: center;
    margin-top: 20px;
}
.title{
    margin-top: 30px;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.fl{
    display: flex;
}
.right{
    margin: 30px;
}
.right p{
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
}
