*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

/*header*/

.header{
    height: 60px;
    background: #d0c4c4;
}
.header__row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__row_left{
    height: 40px;
    width: 150px;
    background: #3b3b3b;
    border-radius: 10px;
}
.header__row_right{
    display: flex;
    column-gap: 15px;
}
.header__row_right img{
    height: 40px;
    width: 40px;
}

/*banner*/
.banner{
    background: #3b3b3b;
}
.banner__items{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 50px 0 0 0;
}
.banner__items_title{
    color: #a98ad9;
}
.banner__items_text{
    text-align: center;
    color: #a98ad9;
}
.banner__items_bottom{
    height: 40px;
    width: 150px;
    background: #a98ad9;
    border-radius: 10px;
}
.banner__items_box{
    display: flex;
    column-gap: 25px;
    position: relative;
    top: 50px;
}
.banner__item_box{
    height: 150px;
    width: 150px;
    background: #a98ad9;
    border-radius: 10px;
}

/*card*/

.card{
    background: #d0c4c4;
    padding: 50px 0;
}
.card__block{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    padding-top: 35px;
}
.card__block_title{
    padding-top: 25px;
}
.card__block_items{
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
}
.card__block_item{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item__img{
    height: 150px;
    width: 150px;
    background: #a98ad9;
    border-radius: 10px;
}
.item__text{
    text-align: center;
}

/*post*/

.post{
    background: #d0c4c4;
    padding-bottom: 35px;
}
.post__block{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    padding-top: 35px;
}
.post__block_title{
    padding-top: 25px;
}
.post__block_items{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}
.post__block_item{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.block__item__img{
    height: 150px;
    width: 550px;
    background: #a98ad9;
    border-radius: 10px;
}
.block__item__text, .block__item__title{
    padding: 0 10px;
}

/*slider*/
.slider{
    background: #d0c4c4;
    padding: 35px 0;
}
.slider__block{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    padding-top: 35px;
}
.slider__block_items{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    align-items: center;
}
.slider__block_items img{
    height: 40px;
    width: 30px;
}
.slider__block_item{
    height: 150px;
    width: 250px;
    background: #a98ad9;
    border-radius: 10px;
}

/*review*/

.review{
    background: #d0c4c4;
    padding: 35px 0;
}
.review__block{
    display: flex;
    column-gap: 20px;
}
.review__block_left{
    height: 150px;
    width: 150px;
    background: #a98ad9;
    border-radius: 50%;
}
.review__block_right{
    width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 25px;
}

/*footer*/
.footer{
    background: #3b3b3b;
    padding: 35px 0;
}
.footer__block{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footer__block_tops{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 15px;
}
.footer__block_top{
    height: 50px;
    width: 50px;
    background: #a98ad9;
    border-radius: 10px;
}
.footer__block_bottoms{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.footer__block__bottom{
    height: 2px;
    width: 50px;
    background: #a98ad9;
    border-radius: 10px;
}