*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.widgets{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: rgb(102, 81, 219);
}
.big-row{
    display: flex;
    margin: 5px 0;
}
.big-widgets{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 33.33%;
    background-color: rgb(81, 136, 219);
}
.big-widgets-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 33.33%;
    margin: 0 5px;
    background-color: rgb(181, 189, 70);
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
    background-color: rgb(102, 81, 219);
}